*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Century Gothic";
  background-color: #f2f5f7;
}

ul,
ol {
  list-style-type: none;
}

button,
a {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}
