.selected > .btn {
  background-color: rgb(57, 102, 224);
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.bookable-list {
  padding: 2rem;
  width: 350px;
}

.bookable-list > li:not(:first-child) {
  margin-top: 1rem;
}
